.TituloPrincipal {
	color: #1f1f1f;
	font-family: 'Poppins', sans-serif;
	text-decoration-line: underline;
    display: inline;
    animation-duration: 2s;
 animation-name: aparecer;
}

.TituloSecundario {
	color: #1f1f1f;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    
}

body{
	background-color: white; 
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a; 
}

.Logo{
	width: 20%;
    display: flex-inline;
	

}
.logoD{
    background-color: #1B262C;
}

.Nosotros{
	font-family: 'Open Sans', sans-serif;
}


.consulta {
	display: grid;
	justify-items: center; 

}

.Body {
    background-color: white;
}
.consulta {
    font-family: 'Poppins', sans-serif;
}


@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
.mi-titulo {
    margin-bottom: 50px;
}

.carousel {
  margin-bottom: 4rem; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10; }

.carousel-item {
  height: 32rem; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.featurette-divider {
  margin: 5rem 0; }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }

  .featurette-heading {
    font-size: 50px; }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; }
}

$redes: (
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
); 

@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}
